<section class="comments" aria-label="Commenti">
  <div id="disqus_thread"></div>
  <script>
    if (window.location.hostname !== 'localhost' && window.location.hostname !== '127.0.0.1') {
      window.disqus_config = function () { this.page.url = {{ .Permalink }}; this.page.identifier = {{ .RelPermalink }}; };
      const script = document.createElement('script');
      script.src = 'https://{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
      script.setAttribute('data-timestamp', String(Date.now()));
      document.body.appendChild(script);
    }
  </script>
</section>
