<aside class="tag-sidebar" aria-labelledby="tag-title">
  <h2 id="tag-title">Tag</h2>
  <div class="tag-cloud">
    {{ range .Site.Taxonomies.tags.ByCount }}
      {{ $visible := where .Pages "Params.unlisted" "ne" true }}
      {{ if gt (len $visible) 0 }}
        <a class="tag" href="{{ .Page.RelPermalink }}">
          #{{ .Page.Title | lower }}<span class="tag-count">{{ len $visible }}</span>
        </a>
      {{ end }}
    {{ else }}
      <span>Nessun tag.</span>
    {{ end }}
  </div>
</aside>
